[user]
    email = michiel@vandermeer.ai
    name = Michiel van der Meer
[github]
    user = m0re4u
[color]
    ui = true
[push]
    default = simple
[alias]
    arnoud = !echo visser
    pp = !git pull && git push
    cam = commit -am
    cm = commit -m
    co = checkout
    sl = stash list --format='%gd (%cr): %gs'
    unadd = reset HEAD --
    uncommit = reset HEAD^
    spop = !git stash && git pull && git stash pop
    s = status
    d = diff
    barchive = "!f() { git tag archive/\"$1\" \"$1\"; git push origin archive/\"$1\"; git branch -d \"$1\"; }; f"
    lo = log --graph --decorate --abbrev-commit --all --pretty=tformat:'%C(auto)%h% %d %s%Creset %C(bold yellow)<%an>%Creset'
[core]
    editor = nano
    pager = less
    autocrlf = input

