[global_config]
  window_state = maximise
  borderless = True
  broadcast_default = off
  inactive_color_offset = 0.72
  enabled_plugins = ,
  suppress_multiple_term_dialog = True
  title_font = Sans 7
[keybindings]
  broadcast_off = <Shift><Alt>o
  broadcast_group = <Shift><Alt>g
  broadcast_all = None
[profiles]
  [[default]]
    background_color = "#20201d"
    background_darkness = 0.33
    cursor_color = "#00ff00"
    font = Monospace 8
    foreground_color = "#a6a28c"
    scrollbar_position = hidden
    scrollback_lines = 100000
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    login_shell = True
    background_image = None
  [[light]]
    background_color = "#ffffdd"
    cursor_color = "#000000"
    font = Monospace 8
    foreground_color = "#000000"
    scrollbar_position = hidden
    scrollback_lines = 100000
    background_image = None
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
