[global_config]
  borderless = True
  broadcast_default = off
  enabled_plugins = ,
  handle_size = 0
  inactive_color_offset = 0.72
  suppress_multiple_term_dialog = True
  title_font = Sans 7
  window_state = maximise
[keybindings]
  broadcast_all = None
  broadcast_group = <Shift><Alt>g
  broadcast_off = <Shift><Alt>o
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 1.0
    background_image = None
    background_type = transparent
    font = Monospace 8
    foreground_color = "#00ff00"
    scrollback_lines = 100000
    scrollbar_position = hidden
    use_system_font = False
